<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="goBack()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ruta del Pasajero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Mapa -->
  <div id="map" style="height: 400px;"></div>

  <!-- Sección del auto -->
  <!-- Sección del auto -->
<div class="car-details">
  <div class="car-info">
    <p><strong>Marca:</strong> {{ carDetails?.brand }}</p>
    <p><strong>Modelo:</strong> {{ carDetails?.model }}</p>
    <p><strong>Patente:</strong> {{ carDetails?.plate }}</p>
    <p><strong>Color:</strong> {{ carDetails?.color }}</p>
  </div>
</div>


  <!-- Detalles del Viaje -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>Ubicación del Conductor:</h2>
          <p>{{ 'Duoc UC Concepcion' }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Destino:</h2>
          <p>{{ ride.location }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Hora de Salida:</h2>
          <p>{{ ride.startDateTime }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>Total a Pagar:</h2>
          <p>{{ ride.cost }} CLP</p>
        </ion-label>
      </ion-item>
      
      <ion-button expand="full" color="primary" (click)="shareLocation()">
        Ir al Home
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>