.map-placeholder {
    text-align: center;
    margin: 20px 0;
  }
  
  .map-placeholder img {
    width: 100%;
    height: auto;
  }
  
  ion-card {
    margin: 20px auto;
    max-width: 600px;
  }
  