<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="goBack()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Ruta del Conductor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToChat()">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Campo de búsqueda para el destino -->
  

  <!-- Lista de sugerencias -->
 

  <!-- Mapa de Google -->
  <div id="map" style="height: 300px; width: 100%;"></div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles de la Ruta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>
          <h2>Destino Final:</h2>
          <p>{{ ride.startLocation }}</p> <!-- Cambié esto para mostrar el 'startLocation' -->
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="primary" (click)="goHome()">
    <ion-icon slot="start" name="home"></ion-icon>
    Ir al Home
  </ion-button>
</ion-content>
