ion-avatar {
    --border-radius: 50%;
    --size: 1500px; /* Tamaño aumentado */
    margin: 15px 0px 35px 110px;
  }
  
  ion-card-title {
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
  }
  
  ion-card-content p {
    margin: 10px 0;
    font-size: 1.2em;
    text-align: center;
  }
  