<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="goBack()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalles del Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Detalles del Viaje -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Inicio del Viaje:</ion-label>
        <ion-text>{{ ride.startLocation }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Destino:</ion-label>
        <ion-text>{{ ride.destination }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Asientos:</ion-label>
        <ion-text>Disponibles 0</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Hora de Salida:</ion-label>
        <ion-text>{{ ride.departureTime }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Costo Fijo:</ion-label>
        <ion-text>{{ ride.costPerKm }} CLP</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Lista de Pasajeros -->
  <ion-list>
    <ion-list-header>
      <ion-label>Pasajeros que Solicitaron el Viaje</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let passenger of passengers">
      <ion-avatar slot="start">
        <ion-img [src]="passenger.image"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ passenger.name }}</h2>
        <p>Ubicación: {{ passenger.location }}</p>
        <p>Status: {{ passenger.status }}</p>
      </ion-label>
      <ion-button fill="clear" color="success" (click)="confirmPassenger(passenger)">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" (click)="rejectPassenger(passenger)">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Botón Programar Viaje -->
  <ion-button expand="full" color="primary" [disabled]="!canScheduleTrip()" (click)="scheduleTrip()">
    Programar Viaje
  </ion-button>
</ion-content>
