  /* Estilos adicionales para el contenedor y la tarjeta */
  .welcome-container {
    text-align: center;
    margin: 20px;
  }
  
  .welcome-container img {
    width: 150px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
  }
  