.auto-container {
  text-align: center;
}

ion-card {
  margin: 20px auto;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

ion-button {
  --border-radius: 20px;
  margin-top: 20px;
}

ion-item {
  margin-bottom: 15px;
}

ion-label {
  font-size: 14px;
  color: #3880ff; /* Color del título */
}

ion-input, ion-textarea {
  padding-top: 10px; /* Ajuste para que el título flotante no interfiera con el texto */
}

/* Estilos adicionales para el contenedor y la tarjeta */
.welcome-container {
  text-align: center;
  margin: 20px;
}

.welcome-container img {
  width: 150px;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}

/* Apply specific styles to the Patente input item */
.input-item {
  --padding-start: 15px; /* Adjusts left padding for better spacing */
  margin-bottom: 15px; /* Adds some space between each ion-item */
}

#plateInput, #descriptionTextarea {
  padding-left: 8px; /* Extra space between label and input text */
}

