<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back-button" (click)="goBack()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Regresar
      </ion-button>
    </ion-buttons>
    <ion-title>Viajes Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Filtro de ubicación -->
  <ion-item>
    <ion-label>Buscar en:</ion-label>
    <ion-select [(ngModel)]="selectedLocation" (ionChange)="filterRides()">
      <ion-select-option value="all">Todos</ion-select-option>
      <ion-select-option value="concepcion">Concepción</ion-select-option>
      <ion-select-option value="Chiguayante">Chiguayante</ion-select-option>
      <ion-select-option value="San Pedro">San Pedro de la Paz</ion-select-option>
      <ion-select-option value="Talcahuano">Talcahuano</ion-select-option>
      <ion-select-option value="hualqui">Hualqui</ion-select-option>
      <ion-select-option value="Penco">Penco</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Lista de viajes -->
  <ion-list>
    <ion-item *ngFor="let ride of filteredRides">
      <ion-avatar slot="start">
        <ion-img [src]="ride.driverImage"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ ride.driverName }}</h2>
        <p>{{ ride.location }}</p>
        <p>{{ ride.destination }}</p>
        <p>Hora: {{ ride.departureTime }}</p>
        <p>Costo: {{ ride.costPerKm }} CLP/km</p>
      </ion-label>
      <ion-button (click)="startRide(ride)" slot="end">Solicitar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
