<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light" class="ion-text-center">
      TeLlevoAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding login-content">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="4">
        <div class="login-container">
          <ion-img src="assets/img/login.png" class="login-image"></ion-img>

          <ion-text color="secondary" class="ion-text-center">
            <h1>Iniciar Sesión</h1>
          </ion-text>

          <form #loginForm="ngForm" (ngSubmit)="logear()">
            <ion-item class="custom-item">
              <ion-input 
                required 
                labelPlacement="floating" 
                label="Usuario" 
                name="text" 
                type="text" 
                aria-hidden="false" 
                [(ngModel)]="usr.username">
              </ion-input>
            </ion-item>

            <ion-item class="custom-item">
              <ion-input 
                required 
                labelPlacement="floating" 
                label="Contraseña" 
                name="password" 
                type="password" 
                aria-hidden="false" 
                [(ngModel)]="usr.password">
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>
            </ion-item>

            <ion-button 
              expand="full" 
              color="primary" 
              type="submit" 
              [disabled]="loginForm.invalid" 
              class="ion-padding login-button">
              <ion-text color="light">Login</ion-text>
            </ion-button>
          </form>

          <ion-text color="tertiary" class="ion-text-center link-text" routerLink="/registro">
            <p>Crear un usuario</p>
          </ion-text>
          <ion-text color="tertiary" class="ion-text-center link-text" routerLink="/recuperar">
            <p>¿Olvidaste tu contraseña?</p>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
